/* Small Elements */
@import "common_small.css";

/* Complex Elements */
@import "common_complex.css";


/* Default Style */
@media screen and (max-width:640px) {
    html {
        font-size: calc(100vw / 35);
    }
}

body {
    background-color: whitesmoke;
    margin: 0% 0.5em;
    /* width: fit-content; */
}

input {
    border-radius: 0%;
    border-color: black;
    color: black;
    background-color: transparent;
}

button:hover {
    color: black;
    background-color: lightgray;
}

button:active {
    color: whitesmoke;
    background-color: black;
}

button {
    border-radius: 0%;
    border-width: 1px;
    border-color: black;
    background-color: transparent;
    color: black;

    font: inherit;
}