.div-inline * {
    display: inline-block;
}

.div-warp-break {
    word-break: break-all;
}

.big-flex-div {
    width: 100vw;
    /* max-width: 976px; */
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.element-inline {
    display: inline-block;
}

button:hover {
    color: black;
    background-color: lightgray;
}

button:active {
    color: whitesmoke;
    background-color: black;
}

.button-large {
    padding: 1rem;
    margin: 0.5rem 0rem;

    border-radius: 0%;
    border-width: 2px;
    background-color: transparent;
    color: black;

    font: inherit;
    font-size: large;
}

.button-medium {
    padding: 5px;
    margin: 3px 0px;

    border-radius: 0%;
    border-width: 2px;
    background-color: transparent;
    color: black;

    font: inherit;
}

.button-small {
    border-radius: 0%;
    border-width: 1px;
    background-color: transparent;
    color: black;

    font: inherit;
}