/* Small Elements */
@import "common_small.css";

/* Complex Elements */
@import "common_complex.css";


/* Default Style */

body {
    background-color: whitesmoke;
    margin-top: 0%;
    margin-bottom: 0%;
}

input {
    border-radius: 0%;
    color: black;
    background-color: transparent;
}

button:hover {
    color: black;
    background-color: lightgray;
}

button:active {
    color: whitesmoke;
    background-color: black;
}

button {
    border-radius: 0%;
    border-width: 1px;
    background-color: transparent;
    color: black;

    font: inherit;
}
