/* Small Elements */
@import "common_small.css";

/* Complex Elements */
@import "common_complex.css";


/* Default Style */

body {
    background-color: whitesmoke;
    margin-top: 0%;
    margin-bottom: 0%;
}

input {
    border-radius: 0%;
    color: black;
    background-color: transparent;
}
