h1 {
    font-size: 1.5rem;
    text-align: center;
}

#ticket-table {
    text-align: center;
}

#payment-div {
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

#action-button-container {
    justify-content: flex-start;
    
}